
* {
   
    font-family: 'Work Sans', sans-serif;

}
/* header and navigation styles */
.header{
    background: rgba(255, 144, 14, 0.1);

}

nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items:center;
    margin-right: 240px;

}
nav li{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-left: 80px;

}
.nav-title{
    color: #131313;
    margin-left: 224px;
    font-weight: 700;
    font-size: 40px;
}
/* header title styles */
.brand-new{
    text-align: center;
    margin-left: 510px;
    margin-right: 510px;
}
.header-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.header-description{
    font-weight: 400;
    font-size: 12px;
    color: #727272;
    margin-bottom: 26px;

}
.btn-primary{
    width: 160px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    margin-bottom: 40px;
    border: none;
}
/* header banner */
.banner img{
    width: 1080px; 
    height: 500px;
    margin-left: 210px;
    margin-bottom: 120px;
}
/* header end */

/* added team member */
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 120px;
}
.team-member{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-member img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}
.titles{
    margin-left: 150px;
}
.section-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 20px;
}
.blue{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.orange{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}
.section-description{
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-bottom: 27px;
}
/* Features you will love & enjoy */
.features{
    display: flex;
    justify-content: center;
}

.first-title{
    font-weight: 700;
font-size: 30px;
color: #131313;
}
.item{
    width: 540px;
    height: 150px;
    padding: 17px 17px;
}
.item-title{
    color: #131313;
    font-weight: 600;
font-size: 20px;
}

.feature-banner img{
    width: 600px;
height: 860px;
}